@model Crud_LuisMoraes.Models.Estabelecimentos

@{
    ViewBag.Title = "Criar";
}


<h2>Estabelecimentos</h2>
<link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" type="text/css" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Criar</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    </div>

        <div id="accordion">
            <h3>Dados do Estabelecimento</h3>
            <div>
                <p>
                    <div class="form-group">
                        @Html.Label("Cnpj", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("cnpj", new { htmlAttributes = new { @id = "cnpj", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cnpj, "", new { @class = "text-danger" })
                        </div>
                    </div>

              

                    <div class="form-group">
                        @Html.Label("Razão Social", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.razaoSocial, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.razaoSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Nome Fantasia", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.nomeFantasia, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.nomeFantasia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Categoria", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("categoriaId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.categoriaId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Ativado?", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.status)
                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </p>
            </div>
            <h3>Endereço</h3>
            <div>
                <p>

                    <div class="form-group">
                        @Html.Label("Uf", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("ufId", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ufId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Cidade", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.cidade, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cidade, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Bairro", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.bairro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.bairro, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Cep", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("cep", new { htmlAttributes = new {@id="cep", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.cep, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Logradouro", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.logradouro, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.logradouro, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Numero", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.numero, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.numero, "", new { @class = "text-danger" })
                        </div>
                    </div>




                </p>
            </div>
            <h3>Dados de Contato</h3>
            <div>
                <p>


                    <div class="form-group">
                        @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("email", new { htmlAttributes = new { @id="email",@class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Telefone", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.Editor("telefone", new { htmlAttributes = new {@id="telefone", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.telefone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </p>

            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>

}

<div>
    @Html.ActionLink("Voltar para a lista", "Index")
</div>

































@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script type="text/javascript"
            src="~/Scripts/jquery-ui.js">
    </script>


    <script type="text/javascript">
    $(function () {
        $("#accordion").accordion();
    });
    </script>



    <script>
        $(document).ready(function () {
            $("#telefone").inputmask("mask", { "mask": "(99)9999-9999" });
            $("#cnpj").inputmask("mask", { "mask": "99.999.999/9999-99" }, { reverse: false });
            $("#cep").inputmask("mask", { "mask": "99999-999" });
            $("#data").inputmask("mask", { "mask": "99/99/9999" });
       
         


        });
    </script>
}
